body{
    margin: 0;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 80px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 100px;
    width: 100%;
    background-color: white;

    border: 1px solid white;
    border-radius: 0px 0px 12px 12px;
    box-shadow:0px 1px 10px rgb(0, 0, 0, 0.2);
}

.nav-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(1rem, 5vw, 5rem);
}

.nav-bar a{
    position: relative;
    text-decoration: none;
    color: black;
    font-size: clamp(1rem, 1.5vw, 3rem);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-bar a::after{
    content: '';
    position: absolute;
    height: 5px;
    width: 0%;
    
    bottom: -10px;
    left: 0;
    background-color: red;

    border-radius: 12px;
    transition: width 0.3s ease-in;
}

.nav-bar a:hover::after{
    width: 100%;
}

.welcome{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    gap: 3%;

    height: auto;
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
    border: 1px solid white;
    border-radius:20px;

    box-shadow: 0px 4px 8px rgb(0, 0, 0, 0.2);

    background-color: white;
}

.welcome p{
    font-family: 'Chenla', cursive;
    font-size: 20px;
}

.story{
    position: relative;
    display: flex;
    align-items: center;
    
    gap: 3%;

    height: auto;
    width: 80%;
    padding-left: 5%;
    padding-right: 5%;
    border: 1px solid white;
    border-radius:20px;

    box-shadow: 0px 4px 8px rgb(0, 0, 0, 0.2);
    font-family: 'Preahvihear', sans-serif;

    background-color: white;
}

.story img{
    width: 20%;
    border-radius: 50%;
}

.story h1{
    font-size: clamp(1rem, 1.2vw, 3rem);
    font-family: 'Chenla', cursive;
    text-align: center;
}

.story p{
    font-weight: lighter;
    font-size: clamp(1rem, 1.2vw, 3rem);
    font-family: 'Chenla', cursive;
}

.history{
    position: relative;
    display: flex;
    align-items: center;
    
    gap: 3%;

    height: auto;
    width: 80%;
    padding-left: 5%;
    padding-right: 5%;
    border: 1px solid white;
    border-radius:20px;

    box-shadow: 0px 4px 8px rgb(0, 0, 0, 0.2);
    font-family: 'Preahvihear', sans-serif;

    background-color: white;
}

.history img{
    width: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 1px solid black;
    border-radius: 12px;
}
.history h1{
    font-size: clamp(1rem, 1.2vw, 3rem);
    font-family: 'Chenla', cursive;
    text-align: center;
}

.history h1 p{
    font-weight: lighter;
    font-size: clamp(1rem, 1.2vw, 3rem);
    font-family: 'Chenla', cursive;
}

.why{
    position: relative;
    display: flex;
    align-items: center;
    
    gap: 3%;

    height: auto;
    width: 80%;
    padding-left: 5%;
    padding-right: 5%;
    border: 1px solid white;
    border-radius:20px;

    box-shadow: 0px 4px 8px rgb(0, 0, 0, 0.2);
    font-family: 'Preahvihear', sans-serif;

    background-color: white;
}

.why h1{
    font-size: clamp(1rem, 1.2vw, 3rem);
    font-family: 'Chenla', cursive;
    text-align: center;
}

.why h1 p{
    font-weight: lighter;
    font-size: clamp(1rem, 1.2vw, 3rem);
    font-family: 'Chenla', cursive;
}

.apply{
    position: relative;
    display: flex;
    align-items: center;
    
    gap: 3%;

    height: auto;
    width: 80%;
    padding-left: 5%;
    padding-right: 5%;
    border: 1px solid white;
    border-radius:20px;

    box-shadow: 0px 4px 8px rgb(0, 0, 0, 0.2);
    font-family: 'Preahvihear', sans-serif;

    background-color: white;
}

.apply h1{

    font-size: clamp(1rem, 1.2vw, 3rem);
    font-family: 'Chenla', cursive;
    text-align: center;
}

.apply h1 p{
    font-weight: lighter;
    font-size: clamp(1rem, 1.2vw, 3rem);
    font-family: 'Chenla', cursive;
}

.link{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 100%;
    background-color: black;
}

.link h1{
    font-weight: lighter;
    font-size: clamp(1rem, 1.2vw, 3rem);
    color: white;
    font-family: 'Chenla', cursive;
}

.link .a-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.link .a-link a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-decoration: none;
    color: white;
    font-family: 'Chenla', cursive;
    gap: 10px;
}

.a-link img{
    width: 10%;
    border-radius: 50%;
}

.a-link a:hover{
    color: blue;
}